
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Compañía" %>
    <%= form.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Teléfono" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.select :sector_id, Sector.pluck(:name, :id), {prompt:"Escoge el sector industrial"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
