<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="alert alert-primary mt-3" role="alert">
          <%= notice %>
          Nombre: <strong><%= @customer.name %></strong>
          Compañía: <strong><%= @customer.company %></strong>
          Sector: <strong><%= @customer.sector.name %></strong>
          Phone: <strong><%= @customer.phone %></strong>, Email: <strong><%= @customer.email %></strong>
          <%= link_to 'Volver a clientes', customers_path, class: "btn btn-primary"  %>
      </div>

    </div>
  </div>
</div>



<% @sales.each do |sale| %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="alert alert-secondary" role="alert">
        <h3>Fecha de compra: <strong><%= sale.created_at.strftime("%m/%d/%Y") %></strong></h3>
        <h5>Valor total compra: <strong><%= number_to_currency(sale.products.sum(:price), precision: 0, delimiter: '.') %></strong>  Valor promedio por ítem: <strong><%= number_to_currency(sale.products.average(:price), precision: 0, delimiter: '.') %></strong></h5>
        <h2>Compras:</h2>
          <% sale.products.each do |s| %>
            <p>Producto: <strong><%= s.name %></strong> - Precio: <strong><%= number_to_currency(s.price, precision: 0, delimiter: '.') %></strong></p>
          <% end %>  
          <p> - </p>
      </div>
    </div>
  </div>
</div>
<% end %>


