<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @customer.sector.name %>
</p>

<% @sales.each do |sale| %>
  <p><%= sale.created_at %></p>
  <% sale.products.each do |s| %>
    <p><%= s.name %> - <%= s.price %></p>
  <% end %>
  <p>Total: <%= sale.products.sum(:price) %></p>
  <p>Promedio: <%= sale.products.average(:price) %></p>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>


<!-- @expenses.sum(:amount) -->