<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>Ventas</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col-2">Fecha</th>
            <th scope="col-2">Cliente</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.customer.created_at %></td>
              <td><%= sale.customer.name %></td>
              <td><%= link_to 'Show', sale %></td>
              <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
              <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Crear Venta', new_sale_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>