<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
    	<p>
    	  <strong>Cliente:</strong>
    	  <%= @sale.customer.name %>
    	</p>
    	<% @sale.products.each do |product| %>
    		<p><%= product.created_at %> - <%= product.name %> - <%= product.price %></p>
    	<% end %>

    	<%= form_for [@sale, @sale.products.build] do |f| %>

			<div class="form-group">
    		  <%= f.label "Nombre del producto" %>
    		  <%= f.text_field :name, class: "form-control"  %>
    		</div>

    		<div class="form-group">
    		  <%= f.label "Precio" %>
    		  <%= f.text_field :price, class: "form-control"  %>
    		</div>

    	  <div class="actions text-right">
    	    <%= f.submit "Agregar Producto", class: "btn btn-primary" %>
    	  </div>
    	  <br>
    	<% end %>
    </div>
  </div>
</div>




<%= link_to 'Editar', edit_sale_path(@sale) %> |
<%= link_to 'Volver', sales_path %>
