<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
    	<p>
    	  <strong>Cliente:</strong>
    	  <%= @sale.customer.name %>
    	</p>
    	<% @sale.products.each do |product| %>
    		<p><%= product.created_at.strftime("%m/%d/%Y") %> - <%= product.name %> - <%= product.price %></p>
    	<% end %>

    	<%= form_for [@sale, @sale.products.build] do |f| %>

			<div class="form-group">
    		  <%= f.label "Nombre del producto" %>
    		  <%= f.select(:name, options_for_select(itemList, @sale), { include_blank: true }, class: "form-control form-control-lg input") %>
    		</div>

            <div class="form-group">
              <%= f.label "Precio del producto" %>
              <%= f.select(:price, options_for_select(itemPrice, @sale), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>

    	  <div class="form-group">
    	    <%= f.submit "Agregar Producto", class: "btn btn-primary btn-lg btn-block mt-3" %>
    	  </div>
    	  <br>
          <div class="form-group">
          <%= link_to 'Volver', sales_path, class: "btn btn-primary btn-lg btn-block mt-3" %>
          </div>
    	<% end %>
    </div>
  </div>
</div>


